<% include partials/header %>
        <h1> Welcome to MyStatus</h1>
        
        <p>Please login to procede </p>
        
        
        <form id="loginform" onsubmit= "return validateform()" action="/login" method="post">
            <input type= "text" id="username" name="username" pattern="[a-zA-Z0-9-]+" title="Numbers and Letters only" required placeholder="Enter your username ">
            <input type="password" id="password" name="password" pattern="[a-zA-Z0-9-]+" title="Numbers and Letters only" required placeholder="Enter your password">
            <input type="submit"  value="submit"> 
        </form>
        <a href="/signup">Signup</a>
        
        
<% include partials/footer %>        

    

    
